Customer ID - Unique identifier for each customer
Age - Age of the customer
Gender - Gender of the customer (Male/Female)
Item Purchased - The item purchased by the customer
Category - Category of the item purchased
Purchase Amount (USD) - The amount of the purchase in USD
Location - Location where the purchase was made
Size - Size of the purchased item
Color - Color of the purchased item
Season - Season during which the purchase was made
Review Rating - Rating given by the customer for the purchased item
Subscription Status - Indicates if the customer has a subscription (Yes/No)
Shipping Type - Type of shipping chosen by the customer
Discount Applied - Indicates if a discount was applied to the purchase (Yes/No)
Promo Code Used - Indicates if a promo code was used for the purchase (Yes/No)
Previous Purchases - The total count of transactions concluded by the customer at the store, excluding the ongoing transaction
Payment Method - Customer's most preferred payment method
Frequency of Purchases - Frequency at which the customer makes purchases (e.g., Weekly, Fortnightly, Monthly)


# Clean the data..(missing values,outliers,type casting,duplicate,variance,...etc)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\chand\Downloads\shopping.xlsx")
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,NaN,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,NaN,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,NaN,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,NaN,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,NaN,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [4]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

# missing values

In [5]:
df.isna().sum()

Customer ID               30
Age                        2
Gender                     5
Item Purchased             4
Category                   4
Purchase Amount (USD)      0
Location                   2
Size                       0
Color                      4
Season                     3
Review Rating              2
Subscription Status        2
Shipping Type              0
Discount Applied           7
Promo Code Used            7
Previous Purchases         0
Payment Method             4
Frequency of Purchases     3
dtype: int64

In [6]:
id_1 = df['Customer ID'].max()
id_1

2652.0

In [7]:
df['Customer ID'].fillna(id_1 + 1,inplace=True)

In [8]:
df['Age'].fillna(df['Age'].mode()[0],inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df['Item Purchased'].fillna(df['Item Purchased'].mode()[0],inplace=True)
df['Category'].fillna(df['Category'].mode()[0],inplace=True)
df['Location'].fillna(df['Location'].mode()[0],inplace=True)
df['Color'].fillna(df['Color'].mode()[0],inplace=True)
df['Season'].fillna(df['Season'].mode()[0],inplace=True)
df['Review Rating'].fillna(df['Review Rating'].mode()[0],inplace=True)
df['Subscription Status'].fillna(df['Subscription Status'].mode()[0],inplace=True)
df['Discount Applied'].fillna(df['Discount Applied'].mode()[0],inplace=True)
df['Promo Code Used'].fillna(df['Promo Code Used'].mode()[0],inplace=True)
df['Payment Method'].fillna(df['Payment Method'].mode()[0],inplace=True)
df['Frequency of Purchases'].fillna(df['Frequency of Purchases'].mode()[0],inplace=True)

In [9]:
df.isna().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             2682 non-null   float64
 1   Age                     2682 non-null   float64
 2   Gender                  2682 non-null   object
 3   Item Purchased          2682 non-null   object
 4   Category                2682 non-null   object
 5   Purchase Amount (USD)   2682 non-null   int64
 6   Location                2682 non-null   object
 7   Size                    2682 non-null   object
 8   Color                   2682 non-null   object
 9   Season                  2682 non-null   object
 10  Review Rating           2682 non-null   float64
 11  Subscription Status     2682 non-null   object
 12  Shipping Type           2682 non-null   object
 13  Discount Applied        2682 non-null   object
 14  Promo Code Used         2682 non-null   object
 15  Previous Purchases      2682 non-null   int64
 16  Payment Method          2682 non-null   object
 17  Frequency of Purchases  2682 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 377.3+ KB

# outliers

In [12]:
df[(df['Age']>100) | (df['Age'] < 0)]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
2662,2653.0,333.0,Male,T-shirt,Clothing,56,New Mexico,S,Lavender,Summer,3.9,No,Next Day Air,No,No,4,Debit Card,Every 3 Months

In [13]:
df[(df['Review Rating'] < 5) | (df['Review Rating'] > 0)]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

# type casting

In [14]:
df['Age'].dtype

dtype('float64')

In [15]:
df['Age'].astype('float16')

0        55.0
1        19.0
2        50.0
3        21.0
4       145.0
        ...
2677     70.0
2678     24.0
2679     67.0
2680     24.0
2681     62.0
Name: Age, Length: 2682, dtype: float16

In [16]:
df['Purchase Amount (USD)'].dtype

dtype('int64')

In [17]:
df['Purchase Amount (USD)'].astype('int16')

0        53
1        64
2        73
3        90
4        49
       ...
2677     38
2678    100
2679     64
2680     55
2681     91
Name: Purchase Amount (USD), Length: 2682, dtype: int16

In [18]:
df['Previous Purchases'].astype('int16')

0       14
1        2
2       23
3       49
4       31
        ..
2677    18
2678    35
2679    25
2680     6
2681    17
Name: Previous Purchases, Length: 2682, dtype: int16

# duplicates

In [21]:
df[df.duplicated()]

Empty DataFrame
Columns: [Customer ID, Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

# variance

In [23]:
df['Customer ID'].unique()

array([1.000e+00, 2.000e+00, 3.000e+00, ..., 2.651e+03, 2.652e+03,
       2.653e+03])

In [24]:
df['Customer ID'].nunique()

2653

In [25]:
df['Age'].var()

269.90136976280456

In [26]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [27]:
df['Gender'].unique()

array(['Male'], dtype=object)

In [28]:
df['Gender'].nunique()

1

In [29]:
df['Item Purchased'].unique()

array(['Blouse', 'Sweater', 'Jeans', 'Sandals', 'Sneakers', 'Shirt',
       'Shorts', 'Coat', 'Handbag', 'Shoes', 'Dress', 'Skirt',
       'Sunglasses', 'Pants', 'Jacket', 'Hoodie', 'Jewelry', 'T-shirt',
       'Scarf', 'Hat', 'Socks', 'Backpack', 'Belt', 'Boots', 'Gloves'],
      dtype=object)

In [30]:
df['Item Purchased'].nunique()

25

In [31]:
df['Category'].nunique()

4

In [32]:
df['Purchase Amount (USD)'].nunique()

81

In [33]:
df['Location'].nunique()

50

In [34]:
df['Size'].nunique()

4

In [35]:
df['Color'].nunique()

25

In [36]:
df['Review Rating'].var()

18.863082592141062

In [37]:
df['Promo Code Used'].nunique()

2

# dummy variables

In [38]:
pd.get_dummies(df['Size'])

          L      M      S     XL
0      True  False  False  False
1      True  False  False  False
2     False  False   True  False
3     False   True  False  False
4     False   True  False  False
...     ...    ...    ...    ...
2677  False  False   True  False
2678  False   True  False  False
2679  False   True  False  False
2680   True  False  False  False
2681  False   True  False  False

[2682 rows x 4 columns]

In [72]:
pd.get_dummies(df['Category'],dtype= int)

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
1               0         1         0          0
2               0         1         0          0
3               0         0         1          0
4               0         1         0          0
...           ...       ...       ...        ...
2677            1         0         0          0
2678            0         0         1          0
2679            0         1         0          0
2680            0         1         0          0
2681            1         0         0          0

[2682 rows x 4 columns]

In [42]:
pd.get_dummies(df['Promo Code Used'])

         No   Yes
0     False  True
1     False  True
2     False  True
3     False  True
4     False  True
...     ...   ...
2677  False  True
2678  False  True
2679  False  True
2680  False  True
2681  False  True

[2682 rows x 2 columns]

In [43]:
pd.get_dummies(df['Season'])

       Fall  Spring  Summer  Winter
0     False   False   False    True
1     False   False   False    True
2     False    True   False   False
3     False    True   False   False
4     False    True   False   False
...     ...     ...     ...     ...
2677   True   False   False   False
2678   True   False   False   False
2679  False   False   False    True
2680  False   False    True   False
2681  False   False    True   False

[2682 rows x 4 columns]

In [44]:
pd.get_dummies(df['Item Purchased'])

,Backpack,Belt,Blouse,Boots,Coat,Dress,Gloves,Handbag,Hat,Hoodie,...,Scarf,Shirt,Shoes,Shorts,Skirt,Sneakers,Socks,Sunglasses,Sweater,T-shirt
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2678,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2679,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2680,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2681,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [45]:
pd.get_dummies(df['Previous Purchases'])

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2678,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2679,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2680,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2681,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
pd.get_dummies(df['Subscription Status'])

         No   Yes
0     False  True
1     False  True
2     False  True
3     False  True
4     False  True
...     ...   ...
2677  False  True
2678  False  True
2679  False  True
2680  False  True
2681  False  True

[2682 rows x 2 columns]

In [47]:
pd.get_dummies(df['Purchase Amount (USD)'])

,20,21,22,23,24,25,26,27,28,29,...,91,92,93,94,95,96,97,98,99,100
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2678,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2679,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2680,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2681,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

# scaling

In [49]:
df['Age'].mean(),df['Age'].median()

(44.29120059656972, 44.0)

In [61]:
#normalization:
def normalize(x):
    n = (x - df['Age'].min())/(df['Age'].max() - df['Age'].min())
    return n

In [66]:
df['Age'] = df['Age'].apply(normalize)
df['Age']

0      -0.018011
1      -0.020343
2      -0.018335
3      -0.020214
4      -0.012180
          ...
2677   -0.017039
2678   -0.020019
2679   -0.017234
2680   -0.020019
2681   -0.017557
Name: Age, Length: 2682, dtype: float64

In [54]:
df['Review Rating'].mean(),df['Review Rating'].median()

(3.844519015659955, 3.75)

In [55]:
def normalize(x):
    n = (x - min(df['Review Rating']))/(max(df['Review Rating']) - min(df['Review Rating']))
    return n

In [67]:
df['Review Rating'] = df['Review Rating'].apply(normalize)
df['Review Rating']

0      -0.020353
1      -0.019435
2      -0.020353
3      -0.020316
4      -0.020390
          ...
2677   -0.020344
2678   -0.020271
2679   -0.020362
2680   -0.020252
2681   -0.020371
Name: Review Rating, Length: 2682, dtype: float64

In [65]:
def normalize(x):
    n = (x-df['Previous Purchases'].min())/(df['Previous Purchases'].max()-df['Previous Purchases'].min())
    return n
df['Previous Purchases'].apply(normalize)

0       0.265306
1       0.020408
2       0.448980
3       0.979592
4       0.612245
          ...
2677    0.346939
2678    0.693878
2679    0.489796
2680    0.102041
2681    0.326531
Name: Previous Purchases, Length: 2682, dtype: float64

In [68]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,-0.018011,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,-0.020353,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,-0.020343,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,-0.019435,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,-0.018335,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,-0.020353,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,-0.020214,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,-0.020316,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,-0.012180,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,-0.020390,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,-0.017039,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,-0.020344,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,-0.020019,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,-0.020271,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,-0.017234,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,-0.020362,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,-0.020019,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,-0.020252,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,-0.017557,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,-0.020371,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             2682 non-null   float64
 1   Age                     2682 non-null   float64
 2   Gender                  2682 non-null   object
 3   Item Purchased          2682 non-null   object
 4   Category                2682 non-null   object
 5   Purchase Amount (USD)   2682 non-null   int64
 6   Location                2682 non-null   object
 7   Size                    2682 non-null   object
 8   Color                   2682 non-null   object
 9   Season                  2682 non-null   object
 10  Review Rating           2682 non-null   float64
 11  Subscription Status     2682 non-null   object
 12  Shipping Type           2682 non-null   object
 13  Discount Applied        2682 non-null   object
 14  Promo Code Used         2682 non-null   object
 15  Previous Purchases      2682 non-null   int64
 16  Payment Method          2682 non-null   object
 17  Frequency of Purchases  2682 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 377.3+ KB

In [71]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,2682.000000,2682.000000,2682.000000,2682.000000,2682.000000
mean,1341.337808,-0.018705,59.507084,-0.020285,25.692767
std,774.094111,0.001064,23.824442,0.000399,14.346421
min,1.000000,-0.020408,20.000000,-0.020408,1.000000
25%,671.250000,-0.019566,38.000000,-0.020353,14.000000
50%,1341.500000,-0.018724,60.000000,-0.020293,26.000000
75%,2011.750000,-0.017881,80.000000,-0.020234,38.000000
max,2653.000000,0.000000,100.000000,0.000000,50.000000